/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
  width: 100%;
  display: flex;
  padding: 16px 0;
  background: #043873;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
header .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1440px) {
  header .container {
    width: 90%;
  }
}
@media (max-width: 1450px) {
  header .container {
    width: 90%;
  }
}
header .container img {
  height: 40px;
}
header .container .headerdiv {
  width: 700px;
}
header .container .headerdiv ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .headerdiv ul a {
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.s-1 {
  background-color: #043873;
}
.s-1 .container {
  padding: 140px 0;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
@media (max-width: 1440px) {
  .s-1 .container {
    width: 90%;
  }
}
@media (max-width: 1440px) {
  .s-1 .container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
.s-1 .container h1 {
  color: #ffffff;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
  width: 60%;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media (max-width: 1440px) {
  .s-1 .container h1 {
    font-size: 44px;
  }
}
.s-1 .container .imgcont {
  width: 400px;
  height: 400px;
}
@media (max-width: 1440px) {
  .s-1 .container .imgcont {
    width: 350px;
    height: 350px;
  }
}

.s-2 {
  background: #ffffff;
  padding: 140px 220px;
}
.s-2 .container {
  padding: 140px 0;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
@media (max-width: 1440px) {
  .s-2 .container {
    width: 90%;
  }
}
@media (max-width: 1440px) {
  .s-2 .container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
.s-2 .container .s-2-div {
  width: 656px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.s-2 .container .s-2-div h1 {
  color: #212529;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-2 .container .s-2-div p {
  color: #212529;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-2 .container .s-2-div button {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #4f9cf9;
  color: #fff;
  /* Paragraph/P2/Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 127.778% */
  letter-spacing: -0.36px;
  border: none;
}
.s-2 .container .imgcont {
  width: 824px;
  display: flex;
  background: var(--primary-100, #c4defd);
  border-radius: 12px;
  width: 748px;
}

footer {
  background: #043873;
  padding: 140px 0 32px;
}
@media (max-width: 1440px) {
  footer {
    padding: 140px 32px 32px 32px;
  }
  footer .container {
    max-width: 1380px;
    width: 100%;
  }
}
footer .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 1480px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}
@media (max-width: 1440px) {
  footer .container {
    width: 90%;
  }
}
@media (max-width: 1450px) {
  footer .container {
    width: 90%;
  }
}
footer .f-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 240px;
  flex-wrap: wrap;
}
footer .f-div .logoname {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .f-div .logoname h3 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .f-div p {
  color: #f7f7ee;
  width: 240px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
footer ul a {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer ul a:hover {
  color: #ffe492;
}
footer ul .current {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
footer .f-div3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}
footer .f-div3 h2 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  text-align: center;
}
footer .f-div3 .s-div {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .f-div3 .s-div .s-div1 {
  width: 100px;
}
footer .f-div3 .s-div .s-div1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer .f-div3 .s-div .s-div1 ul a {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div3 .s-div .s-div1 ul a:hover {
  color: #ffe492;
}
footer .f-div3 .s-div .s-div2 {
  width: 130px;
}
footer .f-div3 .s-div .s-div2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer .f-div3 .s-div .s-div2 ul a {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div3 .s-div .s-div2 ul a:hover {
  color: #ffe492;
}
footer .f-div4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .f-div4 h6 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
footer .f-div4 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer .f-div4 ul li {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div4 ul li .telldiv {
  width: 260px;
}
footer .f-div4 ul li a {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div4 ul li a:hover {
  color: #ffe492;
}

.s-3 {
  background: #043873;
  padding: 140px 220px;
}
.s-3 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
@media (max-width: 1440px) {
  .s-3 .container {
    width: 90%;
  }
}
@media (max-width: 1440px) {
  .s-3 .container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
.s-3 .container .s-3-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.325px;
  padding-right: 25px;
}
.s-3 .container .s-3-div h1 {
  color: #ffffff;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-3 .container .s-3-div p {
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-3 .container .s-3-div button {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #4f9cf9;
  color: #fff;
  /* Paragraph/P2/Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 127.778% */
  letter-spacing: -0.36px;
  border: none;
}
.s-3 .container .imgcont {
  width: 824px;
  display: flex;
  background: var(--primary-100, #c4defd);
  border-radius: 12px;
  width: 724px;
}

.s-4 {
  background: #ffffff;
  padding: 140px 220px;
}
.s-4 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 50px;
}
@media (max-width: 1440px) {
  .s-4 .container {
    width: 90%;
  }
}
@media (max-width: 1440px) {
  .s-4 .container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
.s-4 .container .imgcont {
  width: 824px;
  display: flex;
  background: var(--primary-100, #c4defd);
  border-radius: 12px;
  width: 714px;
  height: 532px;
}
.s-4 .container .s-4-div {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.s-4 .container .s-4-div h1 {
  color: #212529;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-4 .container .s-4-div p {
  color: #212529;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-4 .container .s-4-div button {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #4f9cf9;
  color: #fff;
  /* Paragraph/P2/Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 127.778% */
  letter-spacing: -0.36px;
  border: none;
}

.s-5 {
  margin-bottom: 140px;
}
.s-5 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .s-5 .container {
    width: 90%;
  }
}
@media (max-width: 1450px) {
  .s-5 .container {
    width: 90%;
  }
}
.s-5 .container .hp {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.s-5 .container .hp h5 {
  color: #212529;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
  text-align: center;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-5 .container .hp p {
  color: #212529;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
  width: 979px;
  text-align: center;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-5 .container .cardsdiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1450px) {
  .s-5 .container .cardsdiv {
    display: flex;
    justify-content: center;
  }
}
.s-5 .container .cardsdiv .card1,
.s-5 .container .cardsdiv .card2,
.s-5 .container .cardsdiv .card3,
.s-5 .container .cardsdiv .card4,
.s-5 .container .cardsdiv .card5,
.s-5 .container .cardsdiv .card6 {
  padding: 40px 44px;
  border-radius: 10px;
  background: #043873;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
  width: 472px;
}
.s-5 .container .cardsdiv .card1 img,
.s-5 .container .cardsdiv .card2 img,
.s-5 .container .cardsdiv .card3 img,
.s-5 .container .cardsdiv .card4 img,
.s-5 .container .cardsdiv .card5 img,
.s-5 .container .cardsdiv .card6 img {
  width: 100%;
  height: 270px;
  border-radius: 10px;
}
.s-5 .container .cardsdiv .card1 h6,
.s-5 .container .cardsdiv .card2 h6,
.s-5 .container .cardsdiv .card3 h6,
.s-5 .container .cardsdiv .card4 h6,
.s-5 .container .cardsdiv .card5 h6,
.s-5 .container .cardsdiv .card6 h6 {
  color: #ffe492;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-5 .container .cardsdiv .card1 p,
.s-5 .container .cardsdiv .card2 p,
.s-5 .container .cardsdiv .card3 p,
.s-5 .container .cardsdiv .card4 p,
.s-5 .container .cardsdiv .card5 p,
.s-5 .container .cardsdiv .card6 p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-5 .container .cardsdiv .card1:hover,
.s-5 .container .cardsdiv .card2:hover,
.s-5 .container .cardsdiv .card3:hover,
.s-5 .container .cardsdiv .card4:hover,
.s-5 .container .cardsdiv .card5:hover,
.s-5 .container .cardsdiv .card6:hover {
  transition: 0.3s;
  background-color: #ffffff;
  border: 1px solid #ffe492;
}
.s-5 .container .cardsdiv .card1:hover h6,
.s-5 .container .cardsdiv .card2:hover h6,
.s-5 .container .cardsdiv .card3:hover h6,
.s-5 .container .cardsdiv .card4:hover h6,
.s-5 .container .cardsdiv .card5:hover h6,
.s-5 .container .cardsdiv .card6:hover h6 {
  color: #212529;
}
.s-5 .container .cardsdiv .card1:hover p,
.s-5 .container .cardsdiv .card2:hover p,
.s-5 .container .cardsdiv .card3:hover p,
.s-5 .container .cardsdiv .card4:hover p,
.s-5 .container .cardsdiv .card5:hover p,
.s-5 .container .cardsdiv .card6:hover p {
  color: #212529;
}
.s-5 .container .cardsdiv .card6 h6 {
  font-size: 27px;
  letter-spacing: -0.7px;
  margin-bottom: 6px;
}

.s-6 {
  margin-bottom: 152px;
}
.s-6 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .s-6 .container {
    width: 90%;
  }
}
@media (max-width: 1450px) {
  .s-6 .container {
    width: 90%;
  }
}
.s-6 .container h3 {
  color: #212529;
  text-align: center;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 120% */
  align-self: stretch;
  margin-bottom: 60px;
}
.s-6 .container .cardwrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}
@media (max-width: 1450px) {
  .s-6 .container .cardwrapper {
    display: flex;
    justify-content: center;
  }
}
.s-6 .container .cardwrapper .card1,
.s-6 .container .cardwrapper .card2,
.s-6 .container .cardwrapper .card3 {
  max-width: 471px;
  width: 100%;
  height: 498px;
  display: flex;
  padding: 60px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex: 1 0 0;
  border-radius: 10px;
  background: #4f9cf9;
}
.s-6 .container .cardwrapper .card1 .comment,
.s-6 .container .cardwrapper .card2 .comment,
.s-6 .container .cardwrapper .card3 .comment {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
}
.s-6 .container .cardwrapper .card1 .comment i,
.s-6 .container .cardwrapper .card2 .comment i,
.s-6 .container .cardwrapper .card3 .comment i {
  font-size: 86px;
}
.s-6 .container .cardwrapper .card1 .comment .i2,
.s-6 .container .cardwrapper .card2 .comment .i2,
.s-6 .container .cardwrapper .card3 .comment .i2 {
  display: none;
}
.s-6 .container .cardwrapper .card1 .comment p,
.s-6 .container .cardwrapper .card2 .comment p,
.s-6 .container .cardwrapper .card3 .comment p {
  color: #fff;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-6 .container .cardwrapper .card1 .student,
.s-6 .container .cardwrapper .card2 .student,
.s-6 .container .cardwrapper .card3 .student {
  display: flex;
  width: 383px;
  align-items: flex-end;
  gap: 42px;
}
.s-6 .container .cardwrapper .card1 .student img,
.s-6 .container .cardwrapper .card2 .student img,
.s-6 .container .cardwrapper .card3 .student img {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  border-radius: 95px;
}
.s-6 .container .cardwrapper .card1 .student .studentname,
.s-6 .container .cardwrapper .card2 .student .studentname,
.s-6 .container .cardwrapper .card3 .student .studentname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  align-self: stretch;
}
.s-6 .container .cardwrapper .card1 .student .studentname h4,
.s-6 .container .cardwrapper .card2 .student .studentname h4,
.s-6 .container .cardwrapper .card3 .student .studentname h4 {
  color: #043873;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  align-self: stretch;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-6 .container .cardwrapper .card1 .student .studentname p,
.s-6 .container .cardwrapper .card2 .student .studentname p,
.s-6 .container .cardwrapper .card3 .student .studentname p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  align-self: stretch;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.s-6 .container .cardwrapper .card1:hover,
.s-6 .container .cardwrapper .card2:hover,
.s-6 .container .cardwrapper .card3:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
  transition: 0.15s;
}
.s-6 .container .cardwrapper .card1:hover .comment,
.s-6 .container .cardwrapper .card2:hover .comment,
.s-6 .container .cardwrapper .card3:hover .comment {
  border-bottom: 1px solid #212529;
}
.s-6 .container .cardwrapper .card1:hover .comment p,
.s-6 .container .cardwrapper .card2:hover .comment p,
.s-6 .container .cardwrapper .card3:hover .comment p {
  color: #212529;
}
.s-6 .container .cardwrapper .card1:hover .comment i,
.s-6 .container .cardwrapper .card2:hover .comment i,
.s-6 .container .cardwrapper .card3:hover .comment i {
  display: none;
}
.s-6 .container .cardwrapper .card1:hover .comment .i2,
.s-6 .container .cardwrapper .card2:hover .comment .i2,
.s-6 .container .cardwrapper .card3:hover .comment .i2 {
  display: block;
}
.s-6 .container .cardwrapper .card1:hover .studentname h4,
.s-6 .container .cardwrapper .card2:hover .studentname h4,
.s-6 .container .cardwrapper .card3:hover .studentname h4 {
  color: #212529;
}
.s-6 .container .cardwrapper .card1:hover .studentname p,
.s-6 .container .cardwrapper .card2:hover .studentname p,
.s-6 .container .cardwrapper .card3:hover .studentname p {
  color: #212529;
}

.ser-s-1 {
  margin-top: 92px;
}

.abtus-s-1 {
  margin-top: 160px;
  margin-bottom: 140px;
}
.abtus-s-1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .abtus-s-1 .container {
    width: 90%;
  }
}
.abtus-s-1 .container .infodiv {
  background: var(--primary-100, #c4defd);
  border-radius: 10px;
  box-shadow: 20px 15px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 1200px;
  width: 100%;
}
.abtus-s-1 .container .infodiv h6 {
  color: #212529;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
  color: #043873;
  text-align: center;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.abtus-s-1 .container .infodiv p {
  color: #212529;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
  font-size: 30px;
  text-align: justify;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.abtus-s-1 .container .cardwrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1450px) {
  .abtus-s-1 .container .cardwrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
.abtus-s-1 .container .cardwrapper .card1,
.abtus-s-1 .container .cardwrapper .card2,
.abtus-s-1 .container .cardwrapper .card3 {
  border-radius: 10px;
  background: var(--primary-100, #c4defd);
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abtus-s-1 .container .cardwrapper .card1:hover,
.abtus-s-1 .container .cardwrapper .card2:hover,
.abtus-s-1 .container .cardwrapper .card3:hover {
  background: var(--primary-100, #043873);
}
.abtus-s-1 .container .cardwrapper .card1:hover h1,
.abtus-s-1 .container .cardwrapper .card2:hover h1,
.abtus-s-1 .container .cardwrapper .card3:hover h1 {
  color: #ffffff;
}
.abtus-s-1 .container .cardwrapper .card1:hover p,
.abtus-s-1 .container .cardwrapper .card2:hover p,
.abtus-s-1 .container .cardwrapper .card3:hover p {
  color: #ffffff;
}
.abtus-s-1 .container .cardwrapper .card1 img,
.abtus-s-1 .container .cardwrapper .card2 img,
.abtus-s-1 .container .cardwrapper .card3 img {
  width: 300px;
}
.abtus-s-1 .container .cardwrapper .card1 h1,
.abtus-s-1 .container .cardwrapper .card2 h1,
.abtus-s-1 .container .cardwrapper .card3 h1 {
  color: #212529;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
  font-size: 40px;
  text-align: center;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.abtus-s-1 .container .cardwrapper .card1 p,
.abtus-s-1 .container .cardwrapper .card2 p,
.abtus-s-1 .container .cardwrapper .card3 p {
  color: #212529;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
  text-align: justify;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.it-s-1 {
  margin-top: 150px;
}
.it-s-1 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .it-s-1 .container {
    width: 90%;
  }
}
.it-s-1 .container .infodiv {
  width: 100%;
  background-color: #043873;
  padding: 40px;
  border-radius: 10px;
}
.it-s-1 .container .infodiv h4 {
  color: #212529;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
  color: #ffe492;
  text-align: center;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.it-s-1 .container .infodiv p {
  color: #212529;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
  color: #ffffff;
  text-align: justify;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.it-s-1 .container .infodiv li {
  color: #212529;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
  color: #ffffff;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.cnt-s-1 {
  margin-bottom: 138px;
}
.cnt-s-1 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  background-color: #a7cefc;
  border-radius: 20px;
}
@media (max-width: 1440px) {
  .cnt-s-1 .container {
    width: 90%;
  }
}
.cnt-s-1 .container .contacts {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.cnt-s-1 .container .contacts .contdiv ul .tellli {
  width: 600px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
  font-size: 25px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.cnt-s-1 .container .contacts .contdiv ul .tellli a {
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
  font-size: 25px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.cnt-s-1 .container .contacts .contdiv ul li {
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
  font-size: 25px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.cnt-s-1 .container .contacts .contdiv ul li a {
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.cnt-s-1 .container .contacts .mapdiv {
  width: 50%;
}
.cnt-s-1 .container .contacts .mapdiv iframe {
  width: 100%;
  height: 100%;
}

.cnt-s-2 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}
@media (max-width: 1440px) {
  .cnt-s-2 .container {
    width: 90%;
  }
}
.cnt-s-2 .container h6 {
  margin-top: 100px;
  color: #212529;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
  text-align: center;
  color: #575757;
}
@font-face {
  font-family: "Sylfaen";
  src: url("Sylfaen.woff2") format("woff2"), url("Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.cnt-s-2 .container .reportus {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cnt-s-2 .container .reportus .form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}
.cnt-s-2 .container .reportus .form textarea {
  height: 298px;
  width: 100%;
  flex-shrink: 0;
  resize: none;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #a7cefc;
  padding: 23px 21px;
}
.cnt-s-2 .container .reportus .form textarea ::-moz-placeholder {
  color: #99999a;
  font-size: 14px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cnt-s-2 .container .reportus .form textarea ::placeholder {
  color: #99999a;
  font-size: 14px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cnt-s-2 .container .reportus .form .form-1 {
  max-width: 340px;
  width: 100%;
}
.cnt-s-2 .container .reportus .form .form-1 form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.cnt-s-2 .container .reportus .form .form-1 form input {
  width: 100%;
  height: 59px;
  flex-shrink: 0;
  border: none;
  background: #a7cefc;
  padding: 21px 19px;
}
.cnt-s-2 .container .reportus .form .form-1 form input:focus {
  border: 3px solid #4f9cf9;
}
.cnt-s-2 .container .reportus .form .form-1 form input[type=submit] {
  background: #4f9cf9;
  color: #ffffff;
  font-size: 14px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cnt-s-2 .container .reportus .form .form-1 form input[type=submit]:hover {
  background: #a7cefc;
}
.cnt-s-2 .container .reportus .form .form-2 {
  max-width: 756px;
  width: 100%;
  max-height: 298px;
  height: 100%;
}/*# sourceMappingURL=global.css.map */