/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  background: #043873;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1440px) {
  header .container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
  }
}
header .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container img {
  height: 40px;
}
header .container .headerdiv {
  width: 988.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .headerdiv ul {
  width: 551.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .headerdiv ul a {
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
header .container .headerdiv .buttondiv {
  width: 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .headerdiv .buttondiv .button1 {
  height: 60px;
  padding: 16px 40px;
  border-radius: 8px;
  background: #ffe492;
  color: #043873;
  /* Paragraph/P2/Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 127.778% */
  letter-spacing: -0.36px;
  border: none;
}
header .container .headerdiv .buttondiv .button1:hover {
  background-color: #fffbe4;
}
header .container .headerdiv .buttondiv .button2 {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
header .container .headerdiv .buttondiv .button2:hover {
  background-color: #96c3fa;
}

.s-1 {
  background-color: #043873;
}
@media (max-width: 1440px) {
  .s-1 .container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    width: 90%;
  }
  .s-1 .container .imgcont {
    width: 300px;
    height: 300px;
  }
}
.s-1 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-1 .container .s-1-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 920px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3.325px;
  padding-right: 25px;
}
.s-1 .container .s-1-div h1 {
  color: #ffffff;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
  width: 100%;
}
.s-1 .container .s-1-div p {
  color: #ffffff;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
.s-1 .container .s-1-div button {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.s-1 .container .s-1-div button:hover {
  background-color: #96c3fa;
}
.s-1 .container .imgcont {
  width: 400px;
  height: 400px;
}
@media (max-width: 1440px) {
  .s-1 .container .imgcont {
    width: 685px;
    height: 456px;
  }
}

.s-2 {
  background: #ffffff;
  padding: 140px 220px;
}
.s-2 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-2 .container .s-2-div {
  width: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s-2 .container .s-2-div h1 {
  color: #212529;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 24px;
}
.s-2 .container .s-2-div p {
  color: #212529;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
}
.s-2 .container .s-2-div button {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.s-2 .container .s-2-div button:hover {
  background-color: #96c3fa;
}
.s-2 .container .imgcont {
  width: 824px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--primary-100, #c4defd);
  border-radius: 12px;
  width: 748px;
}

footer {
  background: #043873;
  padding: 140px 0 32px;
}
footer .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1480px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
footer .f-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  width: 240px;
}
footer .f-div .logoname {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .f-div .logoname h3 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .f-div p {
  color: #f7f7ee;
  width: 240px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
footer ul a {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer ul a:hover {
  color: #ffe492;
}
footer ul .current {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
footer .f-div3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
footer .f-div3 h2 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  text-align: center;
}
footer .f-div3 .s-div {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .f-div3 .s-div .s-div1 {
  width: 100px;
}
footer .f-div3 .s-div .s-div1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
footer .f-div3 .s-div .s-div1 ul a {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div3 .s-div .s-div1 ul a:hover {
  color: #ffe492;
}
footer .f-div3 .s-div .s-div2 {
  width: 130px;
}
footer .f-div3 .s-div .s-div2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
footer .f-div3 .s-div .s-div2 ul a {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div3 .s-div .s-div2 ul a:hover {
  color: #ffe492;
}
footer .f-div4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
footer .f-div4 h6 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
footer .f-div4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
footer .f-div4 ul li {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div4 ul li .telldiv {
  width: 260px;
}
footer .f-div4 ul li a {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}
footer .f-div4 ul li a:hover {
  color: #ffe492;
}

.s-3 {
  background: #043873;
  padding: 140px 220px;
}
.s-3 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-3 .container .s-3-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.325px;
  padding-right: 25px;
}
.s-3 .container .s-3-div h1 {
  color: #ffffff;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
}
.s-3 .container .s-3-div p {
  color: #ffffff;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
.s-3 .container .s-3-div button {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.s-3 .container .s-3-div button:hover {
  background-color: #96c3fa;
}
.s-3 .container .imgcont {
  width: 824px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--primary-100, #c4defd);
  border-radius: 12px;
  width: 724px;
}

.s-4 {
  background: #ffffff;
  padding: 140px 220px;
}
.s-4 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-4 .container .imgcont {
  width: 824px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--primary-100, #c4defd);
  border-radius: 12px;
  width: 714px;
  height: 532px;
}
.s-4 .container .s-4-div {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.s-4 .container .s-4-div h1 {
  color: #212529;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 24px;
}
.s-4 .container .s-4-div p {
  color: #212529;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
}
.s-4 .container .s-4-div button {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.s-4 .container .s-4-div button:hover {
  background-color: #96c3fa;
}

.s-5 {
  margin-bottom: 140px;
}
.s-5 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.s-5 .container .hp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-5 .container .hp h5 {
  color: #212529;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 24px;
  text-align: center;
}
.s-5 .container .hp p {
  color: #212529;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
  width: 979px;
  text-align: center;
}
.s-5 .container .cardsdiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.s-5 .container .cardsdiv .card1,
.s-5 .container .cardsdiv .card2,
.s-5 .container .cardsdiv .card3,
.s-5 .container .cardsdiv .card4,
.s-5 .container .cardsdiv .card5,
.s-5 .container .cardsdiv .card6 {
  padding: 40px 44px;
  border-radius: 10px;
  background: #043873;
  -webkit-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
  width: 472px;
}
.s-5 .container .cardsdiv .card1 img,
.s-5 .container .cardsdiv .card2 img,
.s-5 .container .cardsdiv .card3 img,
.s-5 .container .cardsdiv .card4 img,
.s-5 .container .cardsdiv .card5 img,
.s-5 .container .cardsdiv .card6 img {
  width: 100%;
  height: 270px;
  border-radius: 10px;
}
.s-5 .container .cardsdiv .card1 h6,
.s-5 .container .cardsdiv .card2 h6,
.s-5 .container .cardsdiv .card3 h6,
.s-5 .container .cardsdiv .card4 h6,
.s-5 .container .cardsdiv .card5 h6,
.s-5 .container .cardsdiv .card6 h6 {
  color: #ffe492;
  font-family: inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
.s-5 .container .cardsdiv .card1 p,
.s-5 .container .cardsdiv .card2 p,
.s-5 .container .cardsdiv .card3 p,
.s-5 .container .cardsdiv .card4 p,
.s-5 .container .cardsdiv .card5 p,
.s-5 .container .cardsdiv .card6 p {
  color: #fff;
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.s-5 .container .cardsdiv .card1:hover,
.s-5 .container .cardsdiv .card2:hover,
.s-5 .container .cardsdiv .card3:hover,
.s-5 .container .cardsdiv .card4:hover,
.s-5 .container .cardsdiv .card5:hover,
.s-5 .container .cardsdiv .card6:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ffffff;
  border: 1px solid #ffe492;
}
.s-5 .container .cardsdiv .card1:hover h6,
.s-5 .container .cardsdiv .card2:hover h6,
.s-5 .container .cardsdiv .card3:hover h6,
.s-5 .container .cardsdiv .card4:hover h6,
.s-5 .container .cardsdiv .card5:hover h6,
.s-5 .container .cardsdiv .card6:hover h6 {
  color: #212529;
}
.s-5 .container .cardsdiv .card1:hover p,
.s-5 .container .cardsdiv .card2:hover p,
.s-5 .container .cardsdiv .card3:hover p,
.s-5 .container .cardsdiv .card4:hover p,
.s-5 .container .cardsdiv .card5:hover p,
.s-5 .container .cardsdiv .card6:hover p {
  color: #212529;
}
.s-5 .container .cardsdiv .card6 h6 {
  font-size: 27px;
  letter-spacing: -0.7px;
  margin-bottom: 6px;
}

.s-6 {
  margin-bottom: 152px;
}
.s-6 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.s-6 .container h3 {
  color: #212529;
  text-align: center;
  font-family: Inter;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 120% */
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
}
.s-6 .container .cardwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.s-6 .container .cardwrapper .card1,
.s-6 .container .cardwrapper .card2,
.s-6 .container .cardwrapper .card3 {
  width: 471px;
  height: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 10px;
  background: #4f9cf9;
}
.s-6 .container .cardwrapper .card1 .comment,
.s-6 .container .cardwrapper .card2 .comment,
.s-6 .container .cardwrapper .card3 .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
}
.s-6 .container .cardwrapper .card1 .comment i,
.s-6 .container .cardwrapper .card2 .comment i,
.s-6 .container .cardwrapper .card3 .comment i {
  font-size: 86px;
}
.s-6 .container .cardwrapper .card1 .comment .i2,
.s-6 .container .cardwrapper .card2 .comment .i2,
.s-6 .container .cardwrapper .card3 .comment .i2 {
  display: none;
}
.s-6 .container .cardwrapper .card1 .comment p,
.s-6 .container .cardwrapper .card2 .comment p,
.s-6 .container .cardwrapper .card3 .comment p {
  color: #fff;
  /* Paragraph/P2/Regular */
  font-family: inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.36px;
}
.s-6 .container .cardwrapper .card1 .student,
.s-6 .container .cardwrapper .card2 .student,
.s-6 .container .cardwrapper .card3 .student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 383px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 42px;
}
.s-6 .container .cardwrapper .card1 .student img,
.s-6 .container .cardwrapper .card2 .student img,
.s-6 .container .cardwrapper .card3 .student img {
  width: 95px;
  height: 95px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 95px;
}
.s-6 .container .cardwrapper .card1 .student .studentname,
.s-6 .container .cardwrapper .card2 .student .studentname,
.s-6 .container .cardwrapper .card3 .student .studentname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.s-6 .container .cardwrapper .card1 .student .studentname h4,
.s-6 .container .cardwrapper .card2 .student .studentname h4,
.s-6 .container .cardwrapper .card3 .student .studentname h4 {
  color: #043873;
  /* Paragraph/P1/Semibold */
  font-family: inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.s-6 .container .cardwrapper .card1 .student .studentname p,
.s-6 .container .cardwrapper .card2 .student .studentname p,
.s-6 .container .cardwrapper .card3 .student .studentname p {
  color: #fff;
  /* Paragraph/P3/Regular */
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.s-6 .container .cardwrapper .card1:hover,
.s-6 .container .cardwrapper .card2:hover,
.s-6 .container .cardwrapper .card3:hover {
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
}
.s-6 .container .cardwrapper .card1:hover .comment,
.s-6 .container .cardwrapper .card2:hover .comment,
.s-6 .container .cardwrapper .card3:hover .comment {
  border-bottom: 1px solid #212529;
}
.s-6 .container .cardwrapper .card1:hover .comment p,
.s-6 .container .cardwrapper .card2:hover .comment p,
.s-6 .container .cardwrapper .card3:hover .comment p {
  color: #212529;
}
.s-6 .container .cardwrapper .card1:hover .comment i,
.s-6 .container .cardwrapper .card2:hover .comment i,
.s-6 .container .cardwrapper .card3:hover .comment i {
  display: none;
}
.s-6 .container .cardwrapper .card1:hover .comment .i2,
.s-6 .container .cardwrapper .card2:hover .comment .i2,
.s-6 .container .cardwrapper .card3:hover .comment .i2 {
  display: block;
}
.s-6 .container .cardwrapper .card1:hover .studentname h4,
.s-6 .container .cardwrapper .card2:hover .studentname h4,
.s-6 .container .cardwrapper .card3:hover .studentname h4 {
  color: #212529;
}
.s-6 .container .cardwrapper .card1:hover .studentname p,
.s-6 .container .cardwrapper .card2:hover .studentname p,
.s-6 .container .cardwrapper .card3:hover .studentname p {
  color: #212529;
}

.ser-s-1 {
  margin-top: 92px;
}

.abtus-s-1 {
  margin-top: 160px;
  margin-bottom: 140px;
}
.abtus-s-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.abtus-s-1 .container .infodiv {
  background: var(--primary-100, #c4defd);
  border-radius: 10px;
  -webkit-box-shadow: 20px 15px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 15px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 1200px;
}
.abtus-s-1 .container .infodiv h6 {
  color: #212529;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 24px;
  color: #043873;
  text-align: center;
}
.abtus-s-1 .container .infodiv p {
  color: #212529;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
  font-size: 30px;
  text-align: justify;
}
.abtus-s-1 .container .cardwrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.abtus-s-1 .container .cardwrapper .card1,
.abtus-s-1 .container .cardwrapper .card2,
.abtus-s-1 .container .cardwrapper .card3 {
  border-radius: 10px;
  background: var(--primary-100, #c4defd);
  width: 400px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.abtus-s-1 .container .cardwrapper .card1:hover,
.abtus-s-1 .container .cardwrapper .card2:hover,
.abtus-s-1 .container .cardwrapper .card3:hover {
  background: var(--primary-100, #043873);
}
.abtus-s-1 .container .cardwrapper .card1:hover h1,
.abtus-s-1 .container .cardwrapper .card2:hover h1,
.abtus-s-1 .container .cardwrapper .card3:hover h1 {
  color: #ffffff;
}
.abtus-s-1 .container .cardwrapper .card1:hover p,
.abtus-s-1 .container .cardwrapper .card2:hover p,
.abtus-s-1 .container .cardwrapper .card3:hover p {
  color: #ffffff;
}
.abtus-s-1 .container .cardwrapper .card1 img,
.abtus-s-1 .container .cardwrapper .card2 img,
.abtus-s-1 .container .cardwrapper .card3 img {
  width: 300px;
}
.abtus-s-1 .container .cardwrapper .card1 h1,
.abtus-s-1 .container .cardwrapper .card2 h1,
.abtus-s-1 .container .cardwrapper .card3 h1 {
  color: #212529;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 24px;
  font-size: 40px;
  text-align: center;
}
.abtus-s-1 .container .cardwrapper .card1 p,
.abtus-s-1 .container .cardwrapper .card2 p,
.abtus-s-1 .container .cardwrapper .card3 p {
  color: #212529;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
  text-align: justify;
}

.it-s-1 {
  margin-top: 150px;
}
.it-s-1 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.it-s-1 .container .infodiv {
  width: 100%;
  background-color: #043873;
  padding: 40px;
  border-radius: 10px;
}
.it-s-1 .container .infodiv h4 {
  color: #212529;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 24px;
  color: #ffe492;
  text-align: center;
}
.it-s-1 .container .infodiv p {
  color: #212529;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
  color: #ffffff;
  text-align: justify;
}
.it-s-1 .container .infodiv li {
  color: #212529;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
  color: #ffffff;
}

.cnt-s-1 {
  margin-top: 250px;
  margin-bottom: 138px;
}
.cnt-s-1 .container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.cnt-s-1 .container .contacts {
  width: 100%;
  background-color: #a7cefc;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}
.cnt-s-1 .container .contacts .contdiv h6 {
  color: #ffffff;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
}
.cnt-s-1 .container .contacts .contdiv ul .tellli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  color: #ffffff;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
  width: 600px;
  color: #ffffff;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
  font-size: 30px;
}
.cnt-s-1 .container .contacts .contdiv ul .tellli .telldiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cnt-s-1 .container .contacts .contdiv ul .tellli a {
  color: #ffffff;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
.cnt-s-1 .container .contacts .contdiv ul li {
  color: #ffffff;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
  font-size: 30px;
}
.cnt-s-1 .container .contacts .contdiv ul li a {
  color: #ffffff;
  font-family: inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
.cnt-s-1 .container .contacts .mapdiv h1 {
  color: #ffffff;
  font-family: inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
  font-size: 44px;
}/*# sourceMappingURL=global.css.map */