/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 16px 32px;
  background: #043873;
  justify-content: space-between;
  align-items: center;
}
header .container {
  width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .headerdiv {
  width: 988.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .headerdiv ul {
  width: 551.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .headerdiv ul li {
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
header .container .headerdiv .buttondiv {
  width: 377px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .headerdiv .buttondiv .button1 {
  height: 60px;
  padding: 16px 40px;
  border-radius: 8px;
  background: #ffe492;
  color: #043873;
  /* Paragraph/P2/Medium */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 127.778% */
  letter-spacing: -0.36px;
  border: none;
}
header .container .headerdiv .buttondiv .button2 {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}

.s-1 {
  background: #043873;
  padding: 140px 220px;
}
.s-1 .container {
  width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.s-1 .container .s-1-div {
  display: flex;
  width: 656px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.325px;
  padding-right: 25px;
}
.s-1 .container .s-1-div h1 {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
}
.s-1 .container .s-1-div p {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
.s-1 .container .s-1-div button {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.s-1 .container .imgcont {
  width: 824px;
  height: 549px;
  display: flex;
  background: var(--primary-100, #c4defd);
}

.s-2 {
  background: #ffffff;
  padding: 140px 220px;
}
.s-2 .container {
  width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.s-2 .container .s-2-div {
  width: 672px;
}
.s-2 .container .s-2-div h1 {
  color: #212529;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
}
.s-2 .container .s-2-div p {
  color: #212529;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
}
.s-2 .container .s-2-div button {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
.s-2 .container .imgcont {
  width: 824px;
  height: 549px;
  display: flex;
  background: var(--primary-100, #c4defd);
  width: 748px;
  height: 547px;
}/*# sourceMappingURL=global.css.map */