@mixin container {
  width: 1480px;
  margin: 0 auto;
}
@mixin button2 {
  height: 60px;
  padding: 16px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #4f9cf9;
  color: #fff;
  border: none;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
}
@mixin s-div-h1 {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 24px;
}
@mixin s-div-p {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  margin-bottom: 60px;
}
@mixin s-div-h1-2 {
  color: #212529;

  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  align-self: stretch;
  margin-bottom: 24px;
}
@mixin s-div-p-2 {
  color: #212529;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  align-self: stretch;
  margin-bottom: 60px;
}
@mixin imgcont {
  width: 824px;
  height: 549px;
  display: flex;
  background: var(--primary-100, #c4defd);
}
