header {
  width: 100%;
  display: flex;
  padding: 16px 32px;
  background: $color1;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 40px;
    }
    .headerdiv {
      width: 988.5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        width: 551.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: #fff;
          font-family: DM Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 23px;
        }
      }
      .buttondiv {
        width: 377px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button1 {
          height: 60px;
          padding: 16px 40px;
          border-radius: 8px;
          background: #ffe492;
          color: #043873;

          /* Paragraph/P2/Medium */
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 23px; /* 127.778% */
          letter-spacing: -0.36px;
          border: none;
          &:hover {
            background-color: #fffbe4;
          }
        }
        .button2 {
          @include button2;
        }
      }
    }
  }
}
