.s-5,
.ser-s-1 {
  margin-bottom: 140px;
  .container {
    @include container;
    .hp {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      h5 {
        @include s-div-h1-2;
        text-align: center;
      }
      p {
        @include s-div-p-2;
        width: 979px;
        text-align: center;
      }
    }
    .cardsdiv {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      .card1,
      .card2,
      .card3,
      .card4,
      .card5,
      .card6 {
        @include carddiv;
        &:hover {
          transition: 0.3s;
          background-color: #ffffff;
          border: 1px solid #ffe492;
          h6 {
            color: #212529;
          }
          p {
            color: #212529;
          }
        }
      }
      .card6 {
        h6 {
          font-size: 27px;
          letter-spacing: -0.7px;
          margin-bottom: 6px;
        }
      }
    }
  }
}
