.cnt-s-2 {
  margin-top: 120px;
  .container {
    @include container;
    padding: 40px;
    h6 {
      @include s-div-h1-2;
      text-align: center;
      color: #575757;
      @media (max-width: 360px) {
        font-size: 30px;
      }
    }
    .reportus {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 51px;
        flex-wrap: wrap;
        @media (max-width: 1550px) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 40px;
        }
        .form-2 {
          width: 756px;
          height: 298px;
          @media (max-width: 1325px) {
            width: 60%;
          }
          @media (max-width: 1550px) {
            width: 100%;
          }
          textarea {
            height: 298px;
            width: 100%;
            flex-shrink: 0;

            resize: none;

            border: 2px solid rgba(212, 211, 211, 0.3);
            background: $scolor2;

            padding: 23px 21px;

            ::placeholder {
              color: #99999a;
              font-size: 14px;
              font-family: Helvetica;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
        .form-1 {
          width: 340px;
          @media (max-width: 1550px) {
            width: 100%;
          }
          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            input {
              width: 100%;
              height: 59px;
              flex-shrink: 0;

              border: none;
              background: $scolor2;
              padding: 21px 19px;
              &:focus {
                border: 3px solid $color2;
              }
            }
            input[type="submit"] {
              background: $color2;
              color: #ffffff;
              font-size: 14px;
              font-family: Helvetica;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              &:hover {
                background: $scolor2;
              }
            }
          }
        }
      }
    }
  }
}
