footer {
  background: #043873;
  padding: 140px 0 32px;
  @media (max-width: 1440px) {
    padding: 140px 32px 32px 32px;
    .container {
      max-width: 1380px;
      width: 100%;
    }
  }
  .container {
    @include container;
    display: flex;
    max-width: 1480px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    @media (max-width: 1450px) {
      width: 90%;
    }
  }
  .f-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 240px;
    flex-wrap: wrap;
    .logoname {
      width: 240px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: #fff;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    p {
      color: #f7f7ee;
      width: 240px;

      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: -0.36px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    a {
      color: #fff;

      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.32px;
      &:hover {
        color: #ffe492;
      }
    }
    .current {
      color: #fff;

      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.36px;
    }
  }
  .f-div3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    h2 {
      color: #fff;

      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.36px;
      text-align: center;
    }
    .s-div {
      width: 270px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .s-div1 {
        width: 100px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          a {
            color: #ffff;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.32px;
            &:hover {
              color: #ffe492;
            }
          }
        }
      }
      .s-div2 {
        width: 130px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          a {
            color: #ffff;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.32px;
            &:hover {
              color: #ffe492;
            }
          }
        }
      }
    }
  }
  .f-div4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h6 {
      color: #fff;

      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.36px;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      li {
        color: #ffff;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
        .telldiv {
          width: 260px;
        }
        a {
          color: #ffff;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.32px;
          &:hover {
            color: #ffe492;
          }
        }
      }
    }
  }
}
