.s-4 {
  background: $scolor3;
  padding: 140px 220px;
  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 50px;
    @media (max-width: 1440px) {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    @media (max-width: 1150px) {
      width: 80%;
    }
    .imgcont {
      @include imgcont;
      width: 714px;
    }
    .s-4-div {
      width: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      gap: 33px;
      @media (max-width: 1150px) {
        align-items: center;
      }
      h1 {
        @include s-div-h1-2;
        @media (max-width: 1150px) {
          text-align: center;
        }
      }
      p {
        @include s-div-p-2;
        @media (max-width: 1150px) {
          text-align: center;
        }
      }
      button {
        @include button2;
      }
    }
  }
}
