.s-2 {
  background: $scolor3;
  padding: 140px 220px;
  .container {
    padding: 140px 0;
    @include container;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    @media (max-width: 1440px) {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    .s-2-div {
      width: 656px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      h1 {
        @include s-div-h1-2;
      }
      p {
        @include s-div-p-2;
      }
      button {
        @include button2;
      }
    }
    .imgcont {
      @include imgcont;
      width: 748px;
    }
  }
}
