.s-5 {
  .container {
    @include container;
    .hp {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      h5 {
        @include s-div-h1-2;
        text-align: center;
      }
      p {
        @include s-div-p-2;
        width: 979px;
        text-align: center;
      }
    }
    .cardsdiv {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      .card1,
      .card2,
      .card3,
      .card4,
      .card5,
      .card6 {
        @include carddiv;
      }
    }
  }
}
