.s-4 {
  background: $scolor3;
  padding: 140px 220px;
  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    .imgcont {
      @include imgcont;
      width: 714px;
      height: 532px;
    }
    .s-4-div {
      width: 672px;
      h1 {
        @include s-div-h1-2;
      }
      p {
        @include s-div-p-2;
      }
      button {
        @include button2;
      }
    }
  }
}
