.s-1 {
  background-color: $color1;
  .container {
    padding: 140px 0;
    @include container;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    @media (max-width: 1440px) {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    h1 {
      @include s-div-h1;
      width: 60%;
      @media (max-width: 1440px) {
        font-size: 44px;
      }
    }
    .imgcont {
      width: 400px;
      height: 400px;
      @media (max-width: 1440px) {
        width: 350px;
        height: 350px;
      }
    }
  }
}
